@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto';
}

body {
    background-color: rgb(105, 90, 0);
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 25px;
    width: 100px; 
    margin: 10px;
    background-color: #0047AB; 
    color: white;
    font-weight: 500; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #002f75; 
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(165, 157, 15);
    padding: 10px
}
